<LinkTo class="artist" @route="artists.artist" @model={{@id}} {{on "click" this.click}}>
  <div class="artist-name">
    {{@name}}
  </div>
  <div class="artist-data">
    {{this.genres}}
  </div>
</LinkTo>
